/ACTI.PY
/acti10.py
/acti11.py
/acti12.py
/acti13.py
/afd.py
/AS.PY
/asdf.png
/blurred_image.jpg
/cropped_image.jpg
/enhanced_image.jpg
/lab10act2.py
/lab10act3.py
/lab10act4.py
/lab10act5.py
/labb10cv.py
/newfile.py
/newfile2.py
/nlabtaski.py
/opncv_sample.png
/opncv_uni.jpg
/pythobkb.py
/rotated_image.jpg